##   

## Review

Write a query that f<mark><mark><mark>in</mark></mark></mark>ds the `Title`, `YearReleased`, and `PrimaryGenre` for all the movies _Julia Roberts_ has appeared <mark><mark><mark>in</mark></mark></mark>, with the most recent movie displayed first.

In [ ]:
SELECT Title, YearReleased, PrimaryGenre
FROM imdb.People
join imdb.Principals 
  on People.PersonID = Principals.PersonID
join imdb.Movies
  on Movies.TitleID = Principals.TitleID
WHERE FirstName = 'Julia' and LastName = 'Roberts'
  and IsActor = 1
ORDER BY YearReleased desc

Find all the genres for those movies: most recent first, then in alphabetical order by title, and then by the genre order

In [ ]:
SELECT Title, YearReleased, Genre
FROM imdb.People
join imdb.Principals 
  on People.PersonID = Principals.PersonID
join imdb.Movies
  on Movies.TitleID = Principals.TitleID
join imdb.MovieGenres
  on MovieGenres.TitleID = Movies.TitleID 
WHERE FirstName = 'Julia' and LastName = 'Roberts'
  and IsActor = 1
ORDER BY YearReleased desc, Title, GenreOrder

Now find the **number of movies of each genre** that Julia has been in.  Name the column `Number of Movies` and sort so that the genre with the most movies is shown first.

In [ ]:
SELECT Genre, count(Movies.TitleID) as [Number of movies]
FROM imdb.People
join imdb.Principals 
  on People.PersonID = Principals.PersonID
join imdb.Movies
  on Movies.TitleID = Principals.TitleID
join imdb.MovieGenres
  on MovieGenres.TitleID = Movies.TitleID 
WHERE FirstName = 'Julia' and LastName = 'Roberts'
  and IsActor = 1
group by Genre  
order by [Number of movies] desc

Now restrict it to genres where Julia has appeared in at least **5 movies**

In [ ]:
SELECT Genre, count(Movies.TitleID) as [Number of movies]
FROM imdb.People
join imdb.Principals 
  on People.PersonID = Principals.PersonID
join imdb.Movies
  on Movies.TitleID = Principals.TitleID
join imdb.MovieGenres
  on MovieGenres.TitleID = Movies.TitleID 
WHERE FirstName = 'Julia' and LastName = 'Roberts'
  and IsActor = 1
group by Genre  
having count(Movies.TitleID) >= 5
order by [Number of movies] desc

You **can** use an alias in the `ORDER BY` clause because it's the **last** step that is executed, while the projection (`SELECT`) is the **next to the last step** completed.

You **can't** use an alias in the `HAVING BY` clause because it is executed after the `GROUP BY` clause but before the `SELECT` clause.

## Subqueries

Get the `Title`, `YearReleased`, and all `Genres` for movies Julia appeared in which **one of the genres** was _Romance_ using an `EXISTS` query.

In [ ]:
SELECT Title, YearReleased, Genre
FROM imdb.People
join imdb.Principals 
  on People.PersonID = Principals.PersonID
join imdb.Movies
  on Movies.TitleID = Principals.TitleID
join imdb.MovieGenres
  on MovieGenres.TitleID = Movies.TitleID 
WHERE FirstName = 'Julia' and LastName = 'Roberts'
  and IsActor = 1
  and exists (
    select *
    from imdb.MovieGenres Romance
    where Genre = 'Romance'
      and Romance.TitleID = Movies.TitleID

  )
  order by YearReleased desc, Title

You can think of a subquery like this one as being like a nested loop; the subquery runs once per tuple found by the outer query.

Get the same set of results, but use `IN` this time to find the romantic movies Julia was in.

In [ ]:
SELECT Title, YearReleased, Genre
FROM imdb.People
join imdb.Principals 
  on People.PersonID = Principals.PersonID
join imdb.Movies
  on Movies.TitleID = Principals.TitleID
join imdb.MovieGenres
  on MovieGenres.TitleID = Movies.TitleID 
WHERE FirstName = 'Julia' and LastName = 'Roberts'
  and IsActor = 1
  and Movies.TitleID in (
    select TitleID
    from imdb.MovieGenres Romance
    where Genre = 'Romance'
  )
  order by YearReleased desc, Title

Use 2 exists clauses to find _romantic comedies_ Julia Roberts appeared in.  A romantic comedy is a movie that has **both** the genres _Romance_ and _Comedy_.

In [ ]:
SELECT Title, YearReleased, Genre
FROM imdb.People
join imdb.Principals 
  on People.PersonID = Principals.PersonID
join imdb.Movies
  on Movies.TitleID = Principals.TitleID
join imdb.MovieGenres
  on MovieGenres.TitleID = Movies.TitleID 
WHERE FirstName = 'Julia' and LastName = 'Roberts'
  and IsActor = 1
  and exists (
    select *
    from imdb.MovieGenres Romance
    where Genre = 'Romance'
      and Romance.TitleID = Movies.TitleID
  )
  and exists (
       select *
    from imdb.MovieGenres Comedy
    where Genre = 'Comedy'
      and Comedy.TitleID = Movies.TitleID 
  )
  order by YearReleased desc, Title

Find romantic comedies Julia appeared in without Richard Gere using `not exists`.

In [15]:
SELECT Title, YearReleased, Genre
FROM imdb.People
join imdb.Principals 
  on People.PersonID = Principals.PersonID
join imdb.Movies
  on Movies.TitleID = Principals.TitleID
join imdb.MovieGenres
  on MovieGenres.TitleID = Movies.TitleID 
WHERE FirstName = 'Julia' and LastName = 'Roberts'
  and IsActor = 1
  and exists (
    select *
    from imdb.MovieGenres Romance
    where Genre = 'Romance'
      and Romance.TitleID = Movies.TitleID
  )
  and exists (
       select *
    from imdb.MovieGenres Comedy
    where Genre = 'Comedy'
      and Comedy.TitleID = Movies.TitleID 
  )
  and not exists (
    select * 
    from imdb.ActorMovies
    where LastName = 'Gere' and FirstName = 'Richard'
      and Movies.TitleID = ActorMovies.TitleID
  )
  order by YearReleased desc, Title

Title,YearReleased,Genre
Ticket to Paradise,2022,Comedy
Ticket to Paradise,2022,Romance
Mother's Day,2016,Comedy
Mother's Day,2016,Drama
Mother's Day,2016,Romance
Larry Crowne,2011,Comedy
Larry Crowne,2011,Drama
Larry Crowne,2011,Romance
Valentine's Day,2010,Comedy
Valentine's Day,2010,Romance
Duplicity,2009,Comedy
Duplicity,2009,Crime
Duplicity,2009,Romance
Full Frontal,2002,Comedy
Full Frontal,2002,Romance
America's Sweethearts,2001,Comedy
America's Sweethearts,2001,Romance
Notting Hill,1999,Comedy
Notting Hill,1999,Drama
Notting Hill,1999,Romance
My Best Friend's Wedding,1997,Comedy
My Best Friend's Wedding,1997,Drama
My Best Friend's Wedding,1997,Romance
Everyone Says I Love You,1996,Comedy
Everyone Says I Love You,1996,Musical
Everyone Says I Love You,1996,Romance
Something to Talk About,1995,Comedy
Something to Talk About,1995,Drama
Something to Talk About,1995,Romance
I Love Trouble,1994,Action
I Love Trouble,1994,Comedy
I Love Trouble,1994,Romance
Steel Magnolias,1989,Comedy
Steel Magnolias,1989,Drama
Steel Magnolias,1989,Romance
Mystic Pizza,1988,Comedy
Mystic Pizza,1988,Drama
Mystic Pizza,1988,Romance

Find the `Title` and `RunningTimeInMinutes` for the  **longest** movie made in 2022:

*  **students on my left**: using a `NOT EXISTS` query
*  **students on my right**: using a subquery along with the `MAX` function

In [ ]:
--  Using a NOT exists query

In [ ]:
--  using a subquery with the MAX function

Challenge:  Starting with the CTE for Rocky Movies below, find everyone who has been in **every** Rocky movie using only `NOT EXISTS`

In [1]:
with RockyMovies as (
    select TitleID, Title
    from imdb.ActorMovies
    where Title like 'Rocky%'
      and FirstName = 'Sylvester' and LastName = 'Stallone'
)
select * 
from  RockyMovies

: Msg 208, Level 16, State 1, Line 1
Invalid object name 'imdb.ActorMovies'.

CustomerID,CustFirstName
1011,Alaina
1028,Jeffrey
1023,Julia