# Part 1 - Exploring basic SQL behavior

For each of the questions below, add an SQL statement to the empty code cell below the question that will help you determine the answer to the question.  

Each question deals with the IMDB database.  Tables in this database can be accessed by prefixing the name of the table with `imdb.` 

For example, you'd reference the `People` table as `imdb.People`

The general format for an SQL query looks like this:

```
SELECT [distinct] COLUMN_LIST | * 
FROM TABLE_LIST
[WHERE BOOLEAN_EXPRESSION]
[ORDER BY COLUMN_LIST]
```

Elements enclosed in `[ ]` are **optional**.

In the code cell below, write a query that returns all of the tuples in the relation `imdb.Genres`

Run the query by clicking on its "Play" icon.  You should see 27 rows in the results.

In [1]:
SELECT *
from imdb.Genres
order by Genre

Genre
Action
Adult
Adventure
Animation
Biography
Comedy
Crime
Documentary
Drama
Family
Fantasy
Game-Show
History
Horror
Music
Musical
Mystery
News
Reality-TV
Romance
Sci-Fi
Short
Sport
Talk-Show
Thriller
War
Western

Is **trailing whitespace** significant when doing a string comparison? You might, for example, look up an actor in the `imdb.People` table.

**Be sure to use single quotes rather than double quotes when entering a string literal.**

In [5]:
select COUNT(*) from imdb.People
where FirstName = 'Robin';

select Count(*) from imdb.People
where FirstName = 'Robin ';

-- No it does not matter.

(No column name)
535

(No column name)
535

What happens if you use double-quotes for a string literal, instead of single quotes? What does the server appear to expect the value inside double quotes to be?

Is the `BETWEEN` operator is **inclusive** or **exclusive** of its endpoints? A good column to look at is the `YearReleased` column in the `imdb.Movies` table.  I used the `distinct` keyword to help me limit the number of results in my experiment.

Are string comparisons on our server case **sensitive** or case **insensitive**?

Execute the code in the cell below and examine the results. Then, write an explanation of how the `TOP` keyword works together with `ORDER BY` to select a subset of the rows returned by a `SELECT` statement.

In [ ]:
select TOP 2 Title, RunningTimeInMinutes, YearReleased
from imdb.Movies
where RunningTimeInMinutes is not null
order by RunningTimeInMinutes asc

select TOP 2 Title, RunningTimeInMinutes, YearReleased
from imdb.Movies
where RunningTimeInMinutes is not null
order by YearReleased desc

select TOP 2 Title, RunningTimeInMinutes, YearReleased
from imdb.Movies
where RunningTimeInMinutes is not null
order by Title asc

Replace the contents of this cell with your answer.

# Part 2 - Writing SQL Queries on a single table

## Preparation

Open and execute each of the files starting with `00` in the folder named `Sample Database Setup Scripts` located in `392` folder in the Google Shared Drive named **Computer Science Students**. These files create the database structure for each of the sample databases described in the textbook.

Repeat to execute each of the files starting with `01`. These files will insert sample data into the associated database.

Then save changes to this notebook using **File - Save** and then re-open it. This is necessary to make sure _Azure Data Studio_ provides auto-complete suggestions for the objects created by the scripts.

## Sales Order Database

All of the tables for the `SalesOrdersExample` database have been created in your individual student database in a schema named `SalesOrdersExample`.  For example, `SalesOrderExample.Customers` would be the way to reference the `Customers` table.

Write a query to answer each question in the blank code cell beneath the question

Give me the names of all vendors based in Ballard, Bellevue, and Redmond (3 rows).

In [5]:
use SalesOrdersExample
select VendName from Vendors
where VendCity = 'Ballard' or VendCity = 'Bellevue' or VendCity = 'Redmond'

VendName
"Shinoman, Incorporated"
Nikoma of America
"Kona, Incorporated"

- Show me an alphabetized list of products with a retail price of $125.00 or more.  (13 rows, the first is _AeroFlo ATB Wheels_).

In [8]:
use SalesOrdersExample
select * from Products
where RetailPrice >= 125
order by ProductName asc

ProductNumber,ProductName,ProductDescription,RetailPrice,QuantityOnHand,CategoryID
37,AeroFlo ATB Wheels,NULL,189.0000,40,4
36,Cosmic Elite Road Warrior Wheels,NULL,165.0000,22,4
38,Cycle-Doc Pro Repair Stand,NULL,166.0000,12,1
2,Eagle FS-3 Mountain Bike,NULL,1800.0000,8,2
14,Eagle SA-120 Clipless Pedals,NULL,139.9500,20,4
26,Glide-O-Matic Cycling Helmet,NULL,125.0000,24,1
11,GT RTS-2 Mountain Bike,NULL,1650.0000,5,2
25,King Cobra Helmet,NULL,139.0000,30,1
39,Road Warrior Hitch Pack,NULL,175.0000,6,5
1,Trek 9000 Mountain Bike,NULL,1200.0000,6,2
40,Ultimate Export 2G Car Rack,NULL,180.0000,8,5
18,Viscount CardioSport Sport Watch,NULL,179.0000,12,1
6,Viscount Mountain Bike,NULL,635.0000,5,2

Which vendors do we work with that don't have a Web site (4 rows)?  (hint: use `is not null` in your query)

In [9]:
use SalesOrdersExample
select * from Vendors
where VendWebPage is NULL

VendorID,VendName,VendStreetAddress,VendCity,VendState,VendZipCode,VendPhoneNumber,VendFaxNumber,VendWebPage,VendEMailAddress
6,Big Sky Mountain Bikes,Glacier Bay South,Anchorage,AK,99209,(907) 222-1234,(907) 222-1235,NULL,NULL
7,Dog Ear,575 Madison Ave.,New York,NY,10003,(212) 888-9876,(212) 888-9877,NULL,NULL
8,Sun Sports Suppliers,PO Box 8082,Santa Monica,CA,91003,(310) 777-9876,(310) 777-9877,NULL,NULL
9,Lone Star Bike Supply,7402 Kingman Drive,El Paso,TX,79915,(915) 666-9876,(915) 666-9877,NULL,NULL

## Entertainment Agency Database

The tables for this database are availabe by prefixing the table name with `EntertainmentAgencyExample`.

Let me see a list of all engagements that occurred during October 2017 (24 rows).

There is a start date and ending date in the table.  You should include any engagement that starts in October, ends in October, or both.  Use strings like 'Sep 10 2021' to represent dates.

In [13]:
use EntertainmentAgencyExample
select * from Engagements
where (YEAR(StartDate) = 2017 and MONTH(StartDate) = 10) OR
      (YEAR(EndDate) = 2017 and MONTH(EndDate) = 10)

EngagementNumber,StartDate,EndDate,StartTime,StopTime,ContractPrice,CustomerID,AgentID,EntertainerID
16,2017-10-03,2017-10-07,20:00:00,01:00:00,1550.0000,10010,5,1013
17,2017-09-30,2017-10-03,18:00:00,20:00:00,530.0000,10002,8,1010
19,2017-09-30,2017-10-06,20:00:00,23:00:00,365.0000,10009,8,1004
21,2017-10-01,2017-10-04,12:00:00,16:00:00,1490.0000,10005,1,1003
22,2017-10-01,2017-10-06,12:00:00,15:00:00,590.0000,10004,5,1002
23,2017-10-01,2017-10-01,20:00:00,00:00:00,290.0000,10012,4,1013
24,2017-10-02,2017-10-08,12:00:00,18:00:00,1940.0000,10001,4,1001
26,2017-10-10,2017-10-15,17:00:00,22:00:00,950.0000,10001,6,1002
27,2017-10-08,2017-10-13,12:00:00,16:00:00,2210.0000,10015,7,1003
28,2017-10-07,2017-10-16,17:00:00,22:00:00,3800.0000,10003,4,1007
30,2017-10-07,2017-10-09,17:00:00,22:00:00,275.0000,10009,5,1011
31,2017-10-08,2017-10-17,16:00:00,20:00:00,2450.0000,10002,8,1010
32,2017-10-08,2017-10-17,13:00:00,15:00:00,1250.0000,10010,7,1013
34,2017-10-15,2017-10-21,16:00:00,18:00:00,680.0000,10004,8,1005
35,2017-10-15,2017-10-16,19:00:00,23:00:00,410.0000,10005,8,1001
36,2017-10-14,2017-10-24,18:00:00,22:00:00,710.0000,10014,3,1011
37,2017-10-14,2017-10-20,14:00:00,19:00:00,2675.0000,10006,3,1008
38,2017-10-15,2017-10-19,14:00:00,20:00:00,1850.0000,10013,4,1006
41,2017-10-21,2017-10-29,18:00:00,21:00:00,860.0000,10013,3,1002
42,2017-10-21,2017-10-27,17:00:00,22:00:00,2150.0000,10002,1,1013
43,2017-10-22,2017-10-22,14:00:00,16:00:00,140.0000,10001,8,1001
44,2017-10-23,2017-10-27,14:00:00,19:00:00,1925.0000,10006,3,1008
45,2017-10-22,2017-10-29,14:00:00,18:00:00,530.0000,10015,1,1012
46,2017-10-29,2017-11-06,15:00:00,17:00:00,1400.0000,10009,4,1008

List all the engagements that start and end on the same day, in order from least recent to most recent (5 rows, with the first occurring on October 1, 2017).

In [16]:
USE EntertainmentAgencyExample
select * from Engagements
where StartDate = EndDate
order by StartDate

EngagementNumber,StartDate,EndDate,StartTime,StopTime,ContractPrice,CustomerID,AgentID,EntertainerID
23,2017-10-01,2017-10-01,20:00:00,00:00:00,290.0000,10012,4,1013
43,2017-10-22,2017-10-22,14:00:00,16:00:00,140.0000,10001,8,1001
90,2018-01-09,2018-01-09,20:00:00,02:00:00,320.0000,10006,5,1001
97,2018-01-20,2018-01-20,17:00:00,21:00:00,110.0000,10012,8,1004
118,2018-02-19,2018-02-19,19:00:00,00:00:00,350.0000,10014,1,1010

## School Scheduling Database

The tables for this database are availabe by prefixing the table name with `SchoolSchedulingExample.`

Can you show me which students live outside of the Pacific Northwest (5 rows)?

Assume the states 'OR' and 'WA' make up the Pacific Northwest.

In [ ]:
use SchoolSchedulingExample
select * from Students
where

Produce a list of the ID numbers for all *Associate Professors* who are employed full time (5 rows).
Search for `Title` attribute vales of "Associate Professor" with the `Status` value "Full time"

## IMDB Queries

Find the year released and running time for all movies titled _Superman_.  Display them so that the longest movie is shown first.  (4 results, with the first released in 1978 and running for 143 minutes)

Is *Politics* one of the valid genres?  (No)

What are the unique values for the `Category` attribute in the `Principals` table?

### Preparation
Before answering the next set of questions, execute the code cell below to create a view (a virtual table) named imdb.ActorMovies to combine the information from the People, Principals, and Movies tables.

This code is also availabe in a file named `ActorMovies.sql` in the Google Shared Drive.

In [ ]:
create or alter view imdb.ActorMovies as
select People.*, Movies.*, CreditNumber, Category, Role, IsActor
from imdb.People 
join imdb.Principals 
  on People.PersonID = Principals.PersonID
join imdb.Movies
  on Movies.TitleID = Principals.TitleID

Find the title, primary genre, and year released for the movies Florence Pugh has appeared in as an actress.  Show them in order from oldest to most recent.  (7 results, The Falling, a Drama, is shown first)

Find the names of the movies directed by Ridley Scott that were released in the range 2010-2019. Include the year of the movie in the results, and order them so the oldest movie is shown first.  

Refer to the values of the `Category` attribute for `Principals` you found earlier to ensure Scott **directed** the movie. (7 results, with 2010 movie titled Robin Hood shown first)

Find the title, name of the star, and the star's role for all of the Star Wars movies.

The Star Wars movies can be found by finding any movie whose title starts with eihter

- the string Star Wars: Episode I  (that's a captial letter I, not the number 1)
- the string Star Wars: Episode V

The movie's star is the actor with CreditNumber equal to 1.

Order the results in ascending order by the year released. (9 results, with the original 1977 Star Wars Episode IV shown first).

What **PG** and **PG-13** comedies were released in 2019 that have been rated by at least 100 people and have an average IMDB rating of at least 7?  

Show the movie title, how long the movie was, and the IMDB Rating.  Show all PG movies first, followed by PG-13 movies.  (6 results, with the PG movie The Farewell shown first).

Find the title and year for all movies named *Hamlet* for which a role named *Hamlet* exists.  (5 rows)

What were the first 3 movies that Tom Cruise appeared in after 1986? (Rain Main, Cocktail, Born on the Fourth of July).