1.  Find the names of characters (`Roles`) that appeared in more than 2 of the _Star Wars_ movies.  I've given you a common table expression to help you find the _Star Wars_ movies. You should replace the query after the CTE's definition. (6 rows, with _Luke Skywalker_ appearing in 4 of the movies)

In [ ]:
WITH StarWarsMovies as ( 
    select TitleID
    from imdb.Movies
    where Title like 'Star Wars: Episode I%' or Title like 'Star Wars: Episode V%'
)
select *
from StarWarsMovies

2\. List genres and the number of movies made in the 1990s for genres having at least 1000 movies made during that time frame.  Order the results so that the genre having the most movies is shown first.  (7 rows, first is _Drama_ with **4798** movies)

3.  In the `BowlingLeagueExample` database, show the names and average of both the `RawScore` and `HandiCapScore` for all bowlers who have an average of at least **160**.  Give each of the average columns a meaningful name, and show the results order in descending order by the highest average `HandiCapScore`.  (9 rows, with _William Thompson_ at the top with a `RawScore` average of 166, and `HandiCapScore` average of 198)

4.  The average running time for all movies released in 2019 was **93 minutes**.

Which genre of movies made in 2019 had an average running time that was greater 93 minutes?  Consider only the **primary genre** of the movie, and restrict the results to only include genres for which at least 100 movies were released.  Show the genre with the longest average running time first.

(5 rows, with _Action_ shown first; 679 _Action_ movies were released with an average running time of 108 minutes).

5.  Repeat the previous question, except don't "hard code" the value 93 into the query.  Instead, calculate the overall average in a common table expression, the average by genre for genres having at least 100 movies in a second common table expression, and then join those two CTEs using an **inequality**.  You won't have to use `HAVING` in the non-CTE `SELECT` statement to find your final answer.

6\. For each member of the _Dolphins_ and _Sharks_, list the team name, bowler name, and the number of games with a `RawScore` over **170** that bowler has bowled.  Be sure to include any team members who haven't had any games over 170.  Show the results in order by team name, and within a team, show the bowlers with the most games over 170 first.