# Part 1 - Completed together

How many movies are there in the `Movies` table?

In [1]:
select count(TitleID)
from imdb.Movies

(No column name)
130405

How many movies are there in the `Movies` table?  Name the column containing the count `Total Movies`.

In [2]:
select count(TitleID) as [Number of Movies]
from imdb.Movies

Number of Movies
130405

How many movies are there that were released in **2010**?Â  How many unique `Title` values are there for 2010?

In [5]:
WITH MoviesIn2010 ([Movies made in 2010])
as (
select count(TitleID) as NumMovies
from imdb.Movies
where YearReleased = 2010
),
Distinct2010Movies([Unique titles in 2010])
as (
select count(distinct Title) as NumMovies
from imdb.Movies
where YearReleased = 2010
)
select * 
from MoviesIn2010, Distinct2010Movies

Movies made in 2010,Unique titles in 2010
4785,4749

How many `Principals` with a `Category` of _actress_ or _actor_ were there in the 2010 movie titled _Bittersweet_?  How many of them were unique?

In [5]:
select count(Principals.PersonID) as [Bittersweet Actors]
from imdb.Movies, imdb.Principals
where Movies.TitleID = Principals.TitleID
and IsActor = 1
and YearReleased = 2010
and Title = 'Bittersweet';

select count(distinct Principals.PersonID) as [Distinct Bittersweet Actors]
from imdb.Movies, imdb.Principals
where Movies.TitleID = Principals.TitleID
and IsActor = 1
and YearReleased = 2010
and Title = 'Bittersweet';

Bittersweet Actors
8

Distinct Bittersweet Actors
7

What was the **average running time** for movies for which one of the genres was _Drama_ and was released in the same year as the movie titled _Christopher Robin_?Â  We'll use a **virtual table** in the `FROM` clause to help us with this.

In [3]:
with CRM
as
(
    select * from imdb.Movies
    where Title = 'Christopher Robin'
)
select AVG(Movies.RunningTimeInMinutes) [AVG Running Time In Minutes] from CRM, imdb.Movies
join imdb.MovieGenres 
  on MovieGenres.TitleID = Movies.TitleID
where Movies.YearReleased = CRM.YearReleased
  and Genre = 'Drama'

AVG Running Time In Minutes
99

To avoid the warning, we can issue the statement
````
set ansi_warnings off
````
before executing the query:

In [5]:
set ansi_warnings OFF;

with CRM
as
(
    select * from imdb.Movies
    where Title = 'Christopher Robin'
)
select AVG(Movies.RunningTimeInMinutes) [AVG Running Time In Minutes] from CRM, imdb.Movies
join imdb.MovieGenres 
  on MovieGenres.TitleID = Movies.TitleID
where Movies.YearReleased = CRM.YearReleased
  and Genre = 'Drama'

AVG Running Time In Minutes
99

Note that we only need to turn `ansi_warnings` off once.  It will stay in effect until we turn it back on, or we establish a new connection to the database server.

Finally, let's find which dramas were **longer** than the average length of movies made in the same year as _Christopher Robin_.

This can be done with aÂ **subquery**, which we haven't discussed yet. But we can also do it using a **join**, with an **inequality** instead of an **equality** in the `on` portion of the `join`.

We'll use 3 different virtual tables to help us find the solution..

In [ ]:
with CR(YearReleased) as (
    select YearReleased
    from imdb.Movies
    where Title = 'Christopher Robin'
),
MoviesMadeSameYearAsCR(TitleID, Title, RunningTimeInMinutes) as (
  select TitleID, Title, RunningTimeInMinutes
  from imdb.Movies
  join CR 
    on CR.YearReleased = Movies.YearReleased
),
CRStatistics(AverageRunningTime) as ( 
    select avg(RunningTimeInMinutes)
    from MoviesMadeSameYearAsCR
    join imdb.MovieGenres
      on MoviesMadeSameYearAsCR.TitleID = MovieGenres.TitleID    
    where Genre = 'Drama'
) 
select Title, RunningTimeInMinutes, AverageRunningTime
from MoviesMadeSameYearAsCR
join CRStatistics 
  on MoviesMadeSameYearAsCR.RunningTimeInMinutes > CRStatistics.AverageRunningTime
order by RunningTimeInMinutes DESC

# Part 2 - Complete on your own

How many different movies with the title _Titanic_ have there been, **other than** the one released in 1997? (Answer: 2)

In [7]:
select count(*) [Number of Titanic Movies]
from imdb.Movies
where Title = 'Titanic'
  and YearReleased <> 1997

Number of Titanic Movies
2

How long was theÂ **longest**Â movie released in _1997_Â  (the year the epically long _Titanic_ movie was released)?Â  (360 minutes!)

In [11]:
select MAX(RunningTimeInMinutes) [Longest Movie Time in 1997]
from imdb.Movies
where YearReleased = 1997

Longest Movie Time in 1997
360

What are the **smallest**, **average**, and **largest** movie running times that _Leonardo DiCaprio_ has been in?  Name the columns in the resulting table `Shortest`, `Average`, and `Longest`.  (45, 119, and 194 minutes)

In [12]:
with MinLD
as
(
select MIN(RunningTimeInMinutes) [Shortest] from imdb.Movies
JOIN imdb.Principals
  on Movies.TitleID = Principals.TitleID
JOIN imdb.People
  on Principals.PersonID = People.PersonID
where FirstName = 'Leonardo'
  and LastName = 'DiCaprio'
),
AvgLD
as
(
select AVG(RunningTimeInMinutes) [Average] from imdb.Movies
JOIN imdb.Principals
  on Movies.TitleID = Principals.TitleID
JOIN imdb.People
  on Principals.PersonID = People.PersonID
where FirstName = 'Leonardo'
  and LastName = 'DiCaprio'
),
MaxLD
as
(
select MAX(RunningTimeInMinutes) [Longest] from imdb.Movies
JOIN imdb.Principals
  on Movies.TitleID = Principals.TitleID
JOIN imdb.People
  on Principals.PersonID = People.PersonID
where FirstName = 'Leonardo'
  and LastName = 'DiCaprio'
)
SELECT * from MinLD, AvgLD, MaxLD

Shortest,Average,Longest
45,119,194

Which movie(s) released inÂ _1997_Â was the longest, and who was itsÂ **director**? To answer this question

- use theÂ `WITH`Â statement shown above to allow you to use the query you created to find the movie's length; name this virtual tableÂ `Longest1997`
- joinÂ `Movies`Â toÂ `Longest1997`Â on theÂ `RunningTimeInMinutes`Â column
- restrict the rows fromÂ `Movies`Â to have aÂ `YearReleased`Â ofÂ _1997_
- joinÂ `Movies`Â toÂ `Principals`Â andÂ `People`Â and find the movie's director

In [25]:
with Longest1997
as
(
select Max(RunningTimeInMinutes) LongestRunningTime from imdb.Movies
where YearReleased = 1997
)
select FullName from imdb.Movies
JOIN Longest1997
  on Movies.RunningTimeInMinutes = Longest1997.LongestRunningTime
JOIN imdb.Principals
  on Movies.TitleID = Principals.TitleID
JOIN imdb.People
  on People.PersonID = Principals.PersonID
where Movies.YearReleased = 1997
  and Category = 'Director'

FullName
Sue Williams

In [3]:
use [SalesOrdersExample];
select Customers.CustomerID, CustFirstName, CustLastName
from Customers
where not exists (
  select *
  from Orders
  join Order_Details
  on Orders.OrderNumber = Order_Details.OrderNumber
  join Products
  on Products.ProductNumber = Order_Details.ProductNumber
   where Customers.CustomerID = Orders.CustomerID
   and ProductName like '%helmet%'
)
group by Customers.CustomerID, CustFirstName, CustLastName

CustomerID,CustFirstName,CustLastName
1011,Alaina,Hallmark
1028,Jeffrey,Tirekicker
1023,Julia,Schnebly