# Getting started

Be sure you've followed the directions in the `SQL Homework 2 Part 2 - Getting Started.ipynb` notebook before you start working on these problems.

# Problems to complete

## Part 1 - Order Setup
**Q1.** Write a statement in the cell below that finds the largest value of the `CustomerID` column in the `CustomersHW` table.

In [ ]:
use [jack.rutherford];
WITH maxCustomerID AS(
    SELECT MAX(CHW.CustomerID) [Max Customer ID] FROM SalesOrdersExample.CustomersHW CHW
)
SELECT * FROM maxCustomerID

In [13]:
select Category, COUNT(Category) [CatergoryCount] from imdb.Principals
Group by Category
Order by CatergoryCount DESC

Category,CatergoryCount
actor,261859
actress,153625
director,128063
producer,117964
writer,90474
composer,79827
cinematographer,74955
self,63978
editor,46727
production_designer,10859
archive_footage,4629
archive_sound,31

**Q2.** Write a **single** `insert` statement that inserts 2 new customers into the `CustomersHW` table:

- One for **you**, using your on campus address information
- One for Dr. McFall, using 27 Graves Place, Holland, MI, 49423 as the address information.

Use the values `maxCustomerID+1` and `maxCustomerID+2` as values for the `CustomerID` column, where `maxCustomerID` is the value you found in the previous problem.  Don't insert values for the `CustAreaCode` and `CustPhoneNumber` columns.

After the `insert` statement (but in the **same cell**), write a `SELECT` statement that selects just these two rows to verify they were inserted correctly.

In [2]:
use [jack.rutherford];
INSERT INTO SalesOrdersExample.CustomersHW (
    CustomerID,
    CustFirstName,
    CustLastName,
    CustStreetAddress,
    CustCity,
    CustState,
    CustZipCode
)
VALUES 
(1029, 'Jack', 'Rutherford', '108 E 14th St', 'Holland', 'MI', '49423'),
(1030, 'Dr', 'McFall', '27 Graves Place', 'Holland', 'MI', '49423');

SELECT * FROM SalesOrdersExample.CustomersHW

CustomerID,CustFirstName,CustLastName,CustStreetAddress,CustCity,CustState,CustZipCode,CustAreaCode,CustPhoneNumber
1029,Jack,Rutherford,108 E 14th St,Holland,MI,49423,NULL,NULL
1030,Dr,McFall,27 Graves Place,Holland,MI,49423,NULL,NULL
1001,Suzanne,Viescas,"15127 NE 24th, #383",Redmond,WA,98052,425,555-2686
1002,William,Thompson,122 Spring River Drive,Duvall,WA,98019,425,555-2681
1003,Gary,Hallmark,"Route 2, Box 203B",Auburn,WA,98002,253,555-2676
1004,Robert,Brown,672 Lamont Ave,Houston,TX,77201,713,555-2491
1005,Dean,McCrae,4110 Old Redmond Rd.,Redmond,WA,98052,425,555-2506
1006,John,Viescas,"15127 NE 24th, #383",Redmond,WA,98052,425,555-2511
1007,Mariya,Sergienko,901 Pine Avenue,Portland,OR,97208,503,555-2526
1008,Neil,Patterson,233 West Valley Hwy,San Diego,CA,92199,619,555-2541
1009,Andrew,Cencini,507 - 20th Ave. E. Apt. 2A,Seattle,WA,98105,206,555-2601
1010,Angel,Kennedy,667 Red River Road,Austin,TX,78710,512,555-2571
1011,Alaina,Hallmark,"Route 2, Box 203B",Woodinville,WA,98072,425,555-2631
1012,Liz,Keyser,13920 S.E. 40th Street,Bellevue,WA,98006,425,555-2556
1013,Rachel,Patterson,2114 Longview Lane,San Diego,CA,92199,619,555-2546
1014,Sam,Abolrous,611 Alpine Drive,Palm Springs,CA,92263,760,555-2611
1015,Darren,Gehring,2601 Seaview Lane,Chico,CA,95926,530,555-2616
1016,Jim,Wilson,101 NE 88th,Salem,OR,97301,503,555-2636
1017,Manuela,Seidel,66 Spring Valley Drive,Medford,OR,97501,541,555-2641
1018,David,Smith,311 20th Ave. N.E.,Fremont,CA,94538,510,555-2646
1019,Zachary,Ehrlich,12330 Kingman Drive,Glendale,CA,91209,818,555-2721
1020,Joyce,Bonnicksen,2424 Thames Drive,Bellevue,WA,98006,425,555-2726
1021,Estella,Pundt,2500 Rosales Lane,Dallas,TX,75260,972,555-9938
1022,Caleb,Viescas,4501 Wetland Road,Long Beach,CA,90809,562,555-0037
1023,Julia,Schnebly,2343 Harmony Lane,Seattle,WA,99837,206,555-9936
1024,Mark,Rosales,323 Advocate Lane,El Paso,TX,79915,915,555-2286
1025,Maria,Patterson,3445 Cheyenne Road,El Paso,TX,79915,915,555-2291
1026,Kirk,DeGrasse,455 West Palm Ave,San Antonio,TX,78284,210,555-2311
1027,Luke,Patterson,877 145th Ave SE,Portland,OR,97208,503,555-2316
1028,Jeffrey,Tirekicker,19541 104th Ave NE,Bothell,WA,98006,425,555-9999

**Q3.** Write a **single** SQL statement in the cell below that finds the `Employee` who placed the **fewest** and the **most** orders in the `SalesOrdersExample.OrdersHW` table.  

Hint: create a CTE to count the orders by `Employee`, then use subqueries to help find the `Employee` with the fewest/most orders.

In [3]:
use [jack.rutherford];
WITH EmployeeCounts AS(
    SELECT EmployeeID,COUNT(EmployeeID) [Number of Orders] FROM SalesOrdersExample.OrdersHW Ord
    GROUP BY EmployeeID
),
BottomEployee AS(
    SELECT TOP 1 EmployeeID, [Number of Orders]
    FROM EmployeeCounts
    ORDER BY [Number of Orders] DESC
),
TopEmployee AS(
    SELECT TOP 1 EmployeeID, [Number of Orders]
    FROM EmployeeCounts
    ORDER BY [Number of Orders] ASC
)
SELECT * FROM TopEmployee
UNION ALL
SELECT * FROM BottomEployee
ORDER BY [Number of Orders] DESC

EmployeeID,Number of Orders
707,140
703,105

**Q4.**  Write two `INSERT` statements in the cell below that insert 2 orders placed on November 1, 2023 and November 3, 2023 into `SalesOrdersExample.OrdersHW` for **you.**

The first order should be placed by the `Employee` who has placed the **fewest** orders, and the second order should be placed by the `Employee` who has placed the **most** orders.

For these two statements, insert the results of a `SELECT` statement that adds 1 to the largest existing value for the `OrderNumber` column in the `SalesOrdersExample.OrdersHW` table, combined with several literal values.

After the `INSERT` statements, write a `SELECT` statement that shows `Orders` that have been placed by you.

In [4]:
use [jack.rutherford];
--Insert an order placed by the employee with the fewest orders (EmployeeID 703)
INSERT INTO SalesOrdersExample.OrdersHW (OrderNumber, OrderDate, EmployeeID, CustomerID)
SELECT MAX(OrderNumber) + 1, '2023-11-01', 703, 1029
FROM SalesOrdersExample.OrdersHW;

-- Insert an order placed by the employee with the most orders (EmployeeID 707)
INSERT INTO SalesOrdersExample.OrdersHW (OrderNumber, OrderDate, EmployeeID, CustomerID)
SELECT MAX(OrderNumber) + 1, '2023-11-03', 707, 1029
FROM SalesOrdersExample.OrdersHW;

SELECT TOP 2 * FROM SalesOrdersExample.OrdersHW
ORDER BY OrderNumber DESC

OrderNumber,OrderDate,ShipDate,CustomerID,EmployeeID
946,2023-11-03,NULL,1029,707
945,2023-11-01,NULL,1029,703

**Q5.**  Write two `INSERT` statements to add to `SalesOrdersExample.Order_DetailsHW` for the product _Trek 9000 Mountain Bike_ for both of the orders generated above.  You can "hard code" the `OrderNumbers`, but should `SELECT` the `ProductNumber` from the `Products` table.  Each order should be for 1 bike, and the product's `RetailPrice` should be used as the `QuotedPrice`.

As before, add a `SELECT` statement that shows the two rows that have been inserted at the end of the cell.

In [5]:
use [jack.rutherford];

INSERT INTO SalesOrdersExample.Order_DetailsHW (OrderNumber, ProductNumber, QuotedPrice, QuantityOrdered)
SELECT 945, ProductNumber, RetailPrice, 1
FROM SalesOrdersExample.ProductsHW
WHERE ProductName = 'Trek 9000 Mountain Bike';

INSERT INTO SalesOrdersExample.Order_DetailsHW (OrderNumber, ProductNumber, QuotedPrice, QuantityOrdered)
SELECT 946, ProductNumber, RetailPrice, 1
FROM SalesOrdersExample.ProductsHW
WHERE ProductName = 'Trek 9000 Mountain Bike';

SELECT TOP 2 * FROM SalesOrdersExample.Order_DetailsHW
ORDER BY OrderNumber DESC

OrderNumber,ProductNumber,QuotedPrice,QuantityOrdered
946,1,1200.00,1
945,1,1200.00,1

**Q6.**  Write an `UPDATE` statement that changes the `QuantityOrdered` to **10** and reduces the `QuotedPrice` by **10%** for the 2nd order.  Use a computation in the `UPDATE` statement's `SET` clause to compute the new `QuotedPrice` value, rather than hard-coding it.

Add a `SELECT` statement that shows the updated row after the `UPDATE` statement.

In [6]:
use [jack.rutherford];
UPDATE SalesOrdersExample.Order_DetailsHW
SET QuantityOrdered = 10, QuotedPrice *= 0.9
WHERE OrderNumber = 946;

SELECT TOP 1 * FROM SalesOrdersExample.Order_DetailsHW
ORDER BY OrderNumber DESC

OrderNumber,ProductNumber,QuotedPrice,QuantityOrdered
946,1,1080.00,10

**Q7.**  Write two more `INSERT` statements to add 1 _Viscount Microshell Helmet_ to the first order, and 2 of the _Ultra-Pro Rain Jacket_ to the second order. The value for the `QuotedPrice` should be `NULL`.

After the `INSERTS`, write a `SELCT` statement that displays the `OrderNumber`, `OrderDate`, `ProductNumber`, `ProductName`, `QuantityOrdered`, `RetailPrice`, and `QuotedPrice` of all the products for the two orders.  Sort them by `OrderNumber`, followed by `QuantityOrdered`.

In [7]:
use [jack.rutherford];
INSERT INTO SalesOrdersExample.Order_DetailsHW (OrderNumber, ProductNumber, QuantityOrdered)
SELECT 945, ProductNumber, 1
FROM SalesOrdersExample.ProductsHW
WHERE ProductName = 'Viscount Microshell Helmet';

INSERT INTO SalesOrdersExample.Order_DetailsHW (OrderNumber, ProductNumber, QuantityOrdered)
SELECT 946, ProductNumber, 2
FROM SalesOrdersExample.ProductsHW
WHERE ProductName = 'Ultra-Pro Rain Jacket';

SELECT * FROM SalesOrdersExample.Order_DetailsHW ODHW
JOIN SalesOrdersExample.ProductsHW PHW ON ODHW.ProductNumber = PHW.ProductNumber
WHERE OrderNumber = 946
OR OrderNumber = 945

OrderNumber,ProductNumber,QuotedPrice,QuantityOrdered,ProductNumber,ProductName,ProductDescription,RetailPrice,QuantityOnHand,CategoryID
945,1,1200.00,1,1,Trek 9000 Mountain Bike,NULL,1200.00,6,2
946,1,1080.00,10,1,Trek 9000 Mountain Bike,NULL,1200.00,6,2
945,10,NULL,1,10,Viscount Microshell Helmet,NULL,36.00,20,1
946,23,NULL,2,23,Ultra-Pro Rain Jacket,NULL,85.00,30,3

**Q8.**  Write a series of statements in the cell below that create 2 orders for Dr. McFall, both placed on 10-31 of the current year by the employee who has placed the most orders.  

The first order should contain 1 each of the products _Trek 9000 Mountain Bike_ and _GT RTS-2 Mountain Bike_.  The second should contain 5 of the product _Nikoma Lok-Tight U-Lock_.

Write a `SELECT` statement like you wrote in the cell above that shows the details of this order.

In [8]:
use [jack.rutherford];

-- Order 1 Product 1: 
INSERT INTO SalesOrdersExample.OrdersHW (OrderNumber, OrderDate, EmployeeID, CustomerID)
SELECT 947, '2023-11-07', 707, (SELECT CustomerID FROM SalesOrdersExample.CustomersHW WHERE CustFirstName = 'Dr' AND CustLastName = 'McFall');

INSERT INTO SalesOrdersExample.Order_DetailsHW (OrderNumber, ProductNumber, QuotedPrice, QuantityOrdered)
SELECT 947, PHW.ProductNumber, NULL, 1
FROM SalesOrdersExample.ProductsHW PHW
WHERE ProductName = 'Trek 9000 Mountain Bike';

INSERT INTO SalesOrdersExample.Order_DetailsHW (OrderNumber, ProductNumber, QuotedPrice, QuantityOrdered)
SELECT 947, PHW.ProductNumber, NULL, 1
FROM SalesOrdersExample.ProductsHW PHW
WHERE ProductName = 'GT RTS-2 Mountain Bike';

-- Order 2: Nikoma Lok-Tight U-Lock

INSERT INTO SalesOrdersExample.OrdersHW (OrderNumber, OrderDate, EmployeeID, CustomerID)
SELECT 948, '2023-11-07', 707, (SELECT CustomerID FROM SalesOrdersExample.CustomersHW WHERE CustFirstName = 'Dr' AND CustLastName = 'McFall');

INSERT INTO SalesOrdersExample.Order_DetailsHW (OrderNumber, ProductNumber, QuotedPrice, QuantityOrdered)
SELECT 948, PHW.ProductNumber, NULL, 5
FROM SalesOrdersExample.ProductsHW PHW
WHERE ProductName = 'Nikoma Lok-Tight U-Lock';

SELECT TOP 3 * FROM SalesOrdersExample.OrdersHW OHW
JOIN SalesOrdersExample.Order_DetailsHW ODHW ON OHW.OrderNumber = ODHW.OrderNumber
ORDER BY OHW.OrderNumber DESC

OrderNumber,OrderDate,ShipDate,CustomerID,EmployeeID,OrderNumber,ProductNumber,QuotedPrice,QuantityOrdered
948,2023-11-07,NULL,1030,707,948,9,NULL,5
947,2023-11-07,NULL,1030,707,947,1,NULL,1
947,2023-11-07,NULL,1030,707,947,11,NULL,1

## Part 2 - Queries involving  the Trek 9000 Mountain Bike

For these queries, use the `CustomersHW`, `OrdersHW`, and `Order_DetailsHW` tables whenever orders and customers are involved in the questions.

**Q9.** <span style="color: var(--vscode-foreground);"> Write a statement in the cell below that lists the first and last names of every customer who has ordered the&nbsp;</span> _Trek 9000 Mountain Bike_ <span style="color: var(--vscode-foreground);">&nbsp;at least once.&nbsp; Show the list in alphabetical order.</span>  

(25 rows)

In [9]:
use [jack.rutherford];
SELECT CHW.CustomerID, CHW.CustFirstName, CHW.CustLastName  
FROM SalesOrdersExample.CustomersHW CHW
    JOIN SalesOrdersExample.OrdersHW OHW ON CHW.CustomerID = OHW.CustomerID
    JOIN SalesOrdersExample.Order_DetailsHW ODHW on ODHW.OrderNumber = OHW.OrderNumber
    JOIN SalesOrdersExample.ProductsHW PHW ON PHW.ProductNumber = ODHW.ProductNumber
WHERE ProductName = 'Trek 9000 Mountain Bike'
GROUP BY CHW.CustomerID, CustLastName, CustFirstName
ORDER BY CustLastName, CustFirstName ASC

CustomerID,CustFirstName,CustLastName
1014,Sam,Abolrous
1020,Joyce,Bonnicksen
1004,Robert,Brown
1009,Andrew,Cencini
1026,Kirk,DeGrasse
1019,Zachary,Ehrlich
1011,Alaina,Hallmark
1010,Angel,Kennedy
1012,Liz,Keyser
1005,Dean,McCrae
1030,Dr,McFall
1027,Luke,Patterson
1025,Maria,Patterson
1008,Neil,Patterson
1013,Rachel,Patterson
1021,Estella,Pundt
1024,Mark,Rosales
1029,Jack,Rutherford
1023,Julia,Schnebly
1017,Manuela,Seidel
1007,Mariya,Sergienko
1018,David,Smith
1002,William,Thompson
1006,John,Viescas
1016,Jim,Wilson

**Q10.** Repeat the query above, but only include customers who have ordered the _Trek 9000 Mountain Bike_ on **multiple orders**.

(24 rows)

In [10]:
use [jack.rutherford];
SELECT CustFirstName, CustLastName
FROM SalesOrdersExample.CustomersHW CHW
JOIN SalesOrdersExample.OrdersHW OHW ON CHW.CustomerID = OHW.CustomerID
JOIN SalesOrdersExample.Order_DetailsHW ODHW ON ODHW.OrderNumber = OHW.OrderNumber
JOIN SalesOrdersExample.ProductsHW PHW ON PHW.ProductNumber = ODHW.ProductNumber
WHERE ProductName = 'Trek 9000 Mountain Bike'
GROUP BY CustFirstName, CustLastName
HAVING COUNT(DISTINCT OHW.OrderNumber) > 1
ORDER BY CustLastName, CustFirstName ASC;

CustFirstName,CustLastName
Sam,Abolrous
Joyce,Bonnicksen
Robert,Brown
Andrew,Cencini
Kirk,DeGrasse
Zachary,Ehrlich
Alaina,Hallmark
Angel,Kennedy
Liz,Keyser
Dean,McCrae
Luke,Patterson
Maria,Patterson
Neil,Patterson
Rachel,Patterson
Estella,Pundt
Mark,Rosales
Jack,Rutherford
Julia,Schnebly
Manuela,Seidel
Mariya,Sergienko
David,Smith
William,Thompson
John,Viescas
Jim,Wilson

**Q11.**  Find customers for whom **every order** they have placed includes the _Trek 9000 Mountain Bike_.  The customers returned should have placed at least one order.  Hint: there shouldn't be any orders placed by the customer that don't include the _Trek 9000 Mountain Bike_.

(1 row, should be for you)

In [17]:
use [jack.rutherford];
WITH OrderCounts AS(
    SELECT CustomerID, COUNT(OrderNumber) AS OrderCount
    FROM SalesOrdersExample.OrdersHW
    GROUP BY CustomerID
),
BikeCountForCust AS(
    SELECT chw.CustomerID, COUNT(phw.ProductNumber) as [ProductCount]
    FROM SalesOrdersExample.ProductsHW phw
    JOIN SalesOrdersExample.Order_DetailsHW odhw on odhw.ProductNumber = phw.ProductNumber
    JOIN SalesOrdersExample.OrdersHW ohw on ohw.OrderNumber = odhw.OrderNumber
    JOIN SalesOrdersExample.CustomersHW chw on chw.CustomerID = ohw.CustomerID
    WHERE ProductName = 'Trek 9000 Mountain Bike'
    Group By chw.CustomerID
),
OrderBikeCount AS(
    SELECT BikeCountForCust.CustomerID, OrderCount, ProductCount FROM OrderCounts
    JOIN BikeCountForCust ON BikeCountForCust.CustomerID = OrderCounts.CustomerID
)
Select OrderBikeCount.CustomerID, CustFirstName, CustLastName from OrderBikeCount
JOIN SalesOrdersExample.CustomersHW chw on OrderBikeCount.CustomerID = chw.CustomerID
where OrderCount = ProductCount

CustomerID,CustFirstName,CustLastName
1029,Jack,Rutherford

## Part 3 - Other queries

Use the "regular" `Orders`, `Customers`, and `Order_Details` tables for these questions.

**Q12.** For **every** customer, show the `OrderNumber` and `OrderDate` for each order placed by the customer containing the product _Dog Ear Helmet Mount Mirrors_.  Sort the results by customer last name, followed by order date.

(40 rows)

In [ ]:
USE [SalesOrdersExample];

WITH DogEarMirror AS (
    SELECT CustomerID, O.OrderNumber, OrderDate
    FROM Orders as O
    JOIN Order_Details as OD on O.OrderNumber = OD.OrderNumber
    JOIN Products as P ON OD.ProductNumber = P.ProductNumber
    where P.ProductName = 'Dog Ear Helmet Mount Mirrors'
)

SELECT CustLastName, OrderNumber, OrderDate
FROM Customers AS Cust
LEFT JOIN DogEarMirror AS Dem on Cust.CustomerID = Dem.CustomerID
ORDER BY CustLastName, OrderDate;

**Q13.**  List the names of every customer who has placed at least one order but who has **never** placed an order for a product containing the word _helmet_.

(2 rows)

In [ ]:
USE [SalesOrdersExample];

WITH CustomersWithHelmetOrders AS (
    SELECT DISTINCT c.CustomerID
    FROM Customers c
    JOIN Orders o ON c.CustomerID = o.CustomerID
    JOIN Order_Details od ON o.OrderNumber = od.OrderNumber
    JOIN Products p ON od.ProductNumber = p.ProductNumber
    WHERE p.ProductName LIKE '%helmet%'
)

SELECT DISTINCT c.CustomerID, c.CustFirstName, c.CustLastName
FROM Customers c
LEFT JOIN CustomersWithHelmetOrders h ON c.CustomerID = h.CustomerID
JOIN Orders o ON c.CustomerID = o.CustomerID
JOIN Order_Details od ON o.OrderNumber = od.OrderNumber
JOIN Products p ON od.ProductNumber = p.ProductNumber
WHERE h.CustomerID IS NULL;

**Q14.** For each of the months in 2018 in which orders exist, show the date and number of orders for the day during the month in which the most orders were placed.  The results should look like this:

| Month | Day | NumberOfOrders |
| --- | --- | --- |
| January | 8 | 10 |
| February | 1 | 10 |
| March | 1 | 9 |

Use the `MonthNames` table created as in the first part of the assignment, along with the `month` function, to help you get the names of the months.

In [ ]:
use [SalesOrdersExample];

## Handing it in

Click the "eraser" icon in the top right corner of the ADS window to clear the results from all cells in your notebook. Then go to Moodle and upload the notebook using the **SQL** **Homework 2** assignment in the "Assignments" section of the site.