# Getting Started

## Create tables

Execute the code in the cells below to create a schema named `SalesOrdersExample` and new tables named `SalesOrdersExample.CustomersHW5`, `SalesOrdersExample.OrdersHW5`, and `SalesOrdersExample.Order_DetailsHW5`.

The code in these cells should be executed only once, not every time you work on this homework assignment.

In [1]:
create schema SalesOrdersExample;

In [6]:
use [jack.rutherford];

CREATE TABLE SalesOrdersExample.CustomersHW (
	CustomerID int NOT NULL ,
	CustFirstName nvarchar (25) NULL ,
	CustLastName nvarchar (25) NULL ,
	CustStreetAddress nvarchar (50) NULL ,
	CustCity nvarchar (30) NULL ,
	CustState nvarchar (2) NULL ,
	CustZipCode nvarchar (10) NULL ,
	CustAreaCode smallint NULL ,
	CustPhoneNumber nvarchar (8) NULL 
);

In [7]:
use [jack.rutherford];
CREATE TABLE SalesOrdersExample.OrdersHW (
	OrderNumber int NOT NULL ,
	OrderDate date NULL ,
	ShipDate date NULL ,
	CustomerID int NULL ,
	EmployeeID int NULL 
);

In [2]:
use [jack.rutherford];

CREATE TABLE SalesOrdersExample.Order_DetailsHW (
	OrderNumber int NOT NULL ,
	ProductNumber int NOT NULL ,
	QuotedPrice money NULL ,
	QuantityOrdered smallint NULL 
);

Remember that Azure Data Studio's Intellisense doesn't recognize newly created objects until after a restart.  So, save your work and restart before moving on if you want to remove any error indicators.

#  Insert Data
Execute the code in the cell below to insert the data from the original `Customers`/`Orders`/`Order_Details` tables into the  `CustomersHW5`/`OrdersHW5`/`Order_DetailsHW5` tables.

In [2]:
use [jack.rutherford];
delete from SalesOrdersExample.Order_DetailsHW
delete from SalesOrdersExample.OrdersHW
delete from SalesOrdersExample.CustomersHW
GO

insert into SalesOrdersExample.CustomersHW
select *
from SalesOrdersExample..Customers

insert into SalesOrdersExample.OrdersHW
select *
from SalesOrdersExample..Orders

insert into SalesOrdersExample.Order_DetailsHW
select *
from SalesOrdersExample..Order_Details

In [1]:
use [jack.rutherford];

CREATE TABLE SalesOrdersExample.ProductsHW (    
    ProductNumber int NOT NULL primary key,
    ProductName nvarchar(50) null,
    ProductDescription nvarchar(100) null,
    RetailPrice money null,
    QuantityOnHand smallint null,
    CategoryID int null
);

insert into SalesOrdersExample.ProductsHW
select *
from SalesOrdersExample..Products

: Msg 2714, Level 16, State 6, Line 3
There is already an object named 'ProductsHW' in the database.

## Starting over

If you make a mistake on any of the `insert` statements made as part of the homework, you can re-execute the cell above.